
 table{
  /* border-collapse: collapse; */
  border-spacing: 5px;
}
td,
th{
  /* border: 1px solid black; */
  border-radius: 5px;
  text-align: center;
}
th{
  border-radius: 5px;
  background-color:#B4C2CF
}

.magistral{
  background-color:#BFBFBF;
}
.conf{
  background-color:#E5E6FF;
}
.taller{
  background-color:#9699FE
}
.tutorial{
  background-color:#91CDFF;
}
.general{
background-color:#9798CA
}
.informal{
  background-color: #CACBFF;
}
td span{
  display: block;
  font-style: italic;
}
.ponente{
  font-style: italic;
}
.event-type{
  font-size: .8em;
  font-style: italic;

}
